.pledge-card {
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(0, 0, 0, 0.0497193);
	border-radius: 8px;
	background-color: #fff;
	padding: 32px 28px;
	gap: 24px;
	@media screen and (max-width: 800px) {
		padding: 24px;
	}
	&__content {
		display: grid;
		grid-template-areas:
			"input title value quantity"
			". descrip descrip descrip";
		grid-template-columns: 5% auto 1fr auto;
		grid-column-gap: 20px;
		grid-row-gap: 17px;
		@media screen and (max-width: 800px) {
			grid-template-columns: 10% 1fr;
			grid-template-rows: auto;
			grid-template-areas:
				"input title"
				"input value"
				"descrip descrip"
				"quantity quantity";
			grid-row-gap: 0;
		}
		&--title {
			color: #000;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			grid-area: title;
			cursor: pointer;
			transition: 0.2s all ease-in-out;
			&:hover {
				color: #3cb3ab;
				transition: 0.2s all ease-in-out;
			}
		}
		&--value {
			grid-area: value;
			color: #3cb3ab;
			font-weight: 500;
		}
		&--descrip {
			font-size: 15px;
			grid-area: descrip;
			@media screen and (max-width: 800px) {
				padding: 24px 0;
			}
		}
		&--quantity {
			grid-area: quantity;
			justify-self: flex-end;
			font-size: 18px;
			font-weight: 700;
			span {
				font-weight: normal;
				font-size: 15px;
			}
			@media screen and (max-width: 800px) {
				justify-self: flex-start;
			}
		}
		input[type="radio"] {
			min-width: 24px;
			min-height: 24px;
			margin-top: 5px;
			cursor: pointer;
			grid-area: input;
			@media screen and (max-width: 800px) {
				align-self: center;
			}
			&:hover {
				border: #3cb3ab;
			}
		}
	}
	&__confirmation {
		border-top: 1px solid rgba(0, 0, 0, 0.0497193);
		display: flex;
		flex-direction: column;
		padding-top: 24px;
		gap: 14px;
		justify-content: space-between;
		align-items: center;
		.confirmation-content {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			@media screen and (max-width: 800px) {
				flex-direction: column;
				gap: 16px;
			}
			.info {
				display: flex;
				gap: 16px;
				input[type="number"] {
					position: relative;
					width: 100px;
					height: 48px;
					padding: 0 15px;
					text-align: center;
					border: 1px solid rgba(0, 0, 0, 0.15);
					border-radius: 33.5px;
					font-size: 14px;
					font-weight: 700;
					color: #000;
					-moz-appearance: textfield;
					&::-webkit-outer-spin-button,
					&::-webkit-inner-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
					&:focus {
						outline-color: #3cb3ab;
					}
					&.error {
						color: #ff0000;
						outline: #ff0000;
						border: 2px solid #ff0000;
					}
				}
				label {
					position: relative;
					left: 45px;
					top: 24px;
					font-size: 14px;
					font-family: "Roboto";
					line-height: 0;
					z-index: 1;
					&.error {
						color: #ff0000;
					}
				}
			}
		}
		p.error {
			display: block;
			align-self: flex-end;
			font-size: 0.75rem;
			color: #ff0000;
			font-style: italic;
			@media screen and (max-width: 800px) {
				line-height: 100%;
			}
		}
	}
	&.selected {
		border: 2px solid #3cb3ab;
	}
}
