button {
	position: relative;
	width: 204px;
	height: 56px;
	background-color: #3cb3ab;
	border: none;
	border-radius: 33.5px;
	color: #fff;
	font-weight: bold;
	line-height: 20px;
	cursor: pointer;
	&:active {
		background-color: #147a73;
	}
	&.bookmark {
		padding-left: 71px;
		background-color: rgba(47, 47, 47, 0.05);
		color: #7a7a7a;
		text-align: center;
		svg.icon {
			position: absolute;
			left: 0;
			top: 0;
			width: 56px;
			height: 56px;
		}
		&:active > svg.icon > g > circle {
			fill: #707070;
		}
		&.bookmarked {
			background-color: rgba(20, 122, 115, 0.05);
			color: #147a73;
			svg.icon circle {
				fill: #147a73;
			}
			svg.icon path {
				fill: #fff;
			}
		}
	}
	&.disable {
		background-color: rgba(47, 47, 47, 0.5);
		cursor: auto;
	}
}
