.card {
	padding: 32px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	justify-content: space-between;
	border: 1px solid rgba(0, 0, 0, 0.0497193);
	border-radius: 8px;
	background-color: #fff;
	.content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 800px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&-header {
		p {
			color: #3cb3ab;
			font-size: 15px;
			font-weight: 500;
		}
	}
	&-details {
		align-items: center;
		@media screen and (max-width: 800px) {
			gap: 24px;
		}
		h5 {
			font-size: 32px;
			display: flex;
			align-items: center;
			gap: 5px;
			span {
				font-family: "Roboto";
				font-style: normal;
				font-weight: normal;
				// font-size: 15px;
			}
		}
		button {
			width: 157px;
			height: 48px;
			font-size: 14px;
		}
	}
	.disable {
		opacity: 0.5;
	}
	@media screen and (max-width: 800px) {
		padding: 24px;
	}
}
