.about-modal {
	padding: 48px;
	border: 1px solid rgba(0, 0, 0, 0.0497193);
	border-radius: 8px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 24px;
	&__content {
		display: flex;
		flex-direction: column;
		gap: 35px;
		h3 {
			font-size: 20px;
		}
		@media screen and (max-width: 800px) {
			gap: 24px;
		}
	}
	.disable {
		opacity: 0.5;
	}
	@media screen and (max-width: 800px) {
		padding: 40px 27px;
	}
}
