.pledge-modal {
	display: flex;
	flex-direction: column;
	gap: 24px;
	position: absolute;
	width: 51vw;
	top: 15rem;
	padding: 32px 48px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.0497193);
	border-radius: 8px;
	z-index: 2;
	&__title {
		font-size: 1.5rem;
		grid-area: title;
		@media screen and (max-width: 350px) {
			font-size: 1.25rem;
		}
	}
	&__descrip {
		grid-area: content;
	}
	@media screen and (max-width: 800px) {
		display: grid;
		grid-template-areas:
			"title closebtn"
			"content content"
			"cards cards";
		width: 85vw;
		padding: 32px 24px;
		top: 7rem;
	}
	.closeBtn {
		cursor: pointer;
		align-self: flex-end;
		grid-area: closebtn;
		justify-self: flex-end;
		@media screen and (max-width: 800px) {
			align-self: center;
		}
		path {
			opacity: 1;
			fill: #979797;
		}
	}
	.disable {
		opacity: 0.5;
	}
	.pledge-cards {
		display: flex;
		flex-direction: column;
		gap: 24px;
		grid-area: cards;
	}
}
