.pledge-modal {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 730px;
	height: 905px;
	top: 15rem;
	padding: 48px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.0497193);
	border-radius: 8px;
	z-index: 2;
	.closeBtn {
		cursor: pointer;
		align-self: flex-end;
		path {
			opacity: 1;
		}
	}
}
.overlay {
	position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}
