.homepage {
	min-height: 100vh;
	.hero {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.content-container {
		position: absolute;
		top: 280px;
		left: 355px;
		max-width: 730px;
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
}
