.details-modal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 212px;
	padding: 48px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.0497193);
	border-radius: 8px;
	.details {
		display: flex;
		align-items: center;
		.details-item {
			height: 66px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			p {
				font-size: 15px;
				color: #7A7A7A;
				&:first-of-type {
					color: black;
					font-size: 32px;
					font-weight: 700;
				}
			}
			&:first-of-type {
				padding-right: 42px;
				border-right: 1px solid rgba(0, 0, 0, 0.15);
			}
			&:nth-of-type(2) {
				padding: 0 91px 0 47px;
				border-right: 1px solid rgba(0, 0, 0, 0.15);				
			}
			&:nth-of-type(3) {
				padding-left: 47px;
			}
		}
	}
}
