.details-modal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 37px;
	width: 100%;
	padding: 48px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.0497193);
	border-radius: 8px;
	.details {
		display: flex;
		align-items: center;
		.details-item {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			p {
				font-size: 15px;
			}
			h6 {
				font-size: 32px;
				font-weight: 700;
			}
			&:first-of-type {
				padding-right: 42px;
				border-right: 1px solid rgba(0, 0, 0, 0.15);
				@media screen and (max-width: 800px) {
					padding-right: 0;
					padding-bottom: 24px;
					border: none;
				}
			}
			&:nth-of-type(2) {
				padding: 0 91px 0 47px;
				border-right: 1px solid rgba(0, 0, 0, 0.15);
				@media screen and (max-width: 800px) {
					padding: 24px 0;
					border-right: none;
					border-top: 1px solid rgba(0, 0, 0, 0.15);
					border-bottom: 1px solid rgba(0, 0, 0, 0.15);
					
				}
			}
			&:nth-of-type(3) {
				padding-left: 47px;
				@media screen and (max-width: 800px) {
					padding-left: 0;
					padding-top: 24px;
				}
			}
		}
		@media screen and (max-width: 800px) {
			flex-direction: column;
		}
	}
	@media screen and (max-width: 800px) {
			padding: 32px 25px;
		}
}
