.hero {
	height: 400px;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	.header {
		padding: 0 165px;
		height: 128px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo-container {
			height: 100%;
			width: 70px;
			padding: 25px;
		}
		.nav {
			width: 30%;
			display: flex;
			justify-content: space-between;
			&-item {
				display: inline-block;
				font-weight: 500;
				color: #fff;
			}
		}
	}
}
